.recipe-API__list,
.recipe-API__list__recipes {
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: 6rem;
	margin: 1rem auto 4rem auto;
}
.recipe-API__list__More-Button__wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.no-recipes-message {
	height: 80vh;
	justify-content: center;
	width: 80%;
	margin: auto;
	h3 {
		color: rgb(75, 75, 75);
		size: 1.5rem;
		position: relative;
		text-align: center;
		&:after {
			content: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSdQq_QCJ8o0a7ffr-N_sjWPStjVW2NDN6hCw&usqp=CAU');
			position: absolute;
			top: -240px;
			left: +50%;
			transform: translateX(-50%);
		}
	}
}

@media only screen and (max-width: 1174px) {
	.recipe-API__list,
	.recipe-API__list__recipes {
		justify-content: center;
	}
}
